body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/vac.jpg");
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 80vh;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  font-size: 1.5em;
}

.logo {
  width: 120px;
  height: auto;
  margin: 2em auto 1em auto;
}
.alter {
  color: #8a6bf0;
  font-weight: bold;
}

.alter:hover {
  cursor: pointer;
}

.form-control {
  padding: 0 1.5em;
  width: 100%;
  height: 100%;
}

.main-heading {
  text-align: center;
  margin: 0 0 1em 0;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
}

.login {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.3rem;
  cursor: pointer;
  background: #8a6bf0;
  color: #fff;
  border: 1px solid #8a6bf0;
  outline: none;
  border-radius: 0.3em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  transition: all 0.15s ease-in-out;
}

.login:hover {
  background: #fff;
  color: #8a6bf0;
}

.login:active {
  box-shadow: 0 0 0 5px lightskyblue;
}

input {
  border-bottom: 1px solid;
  width: 95%;
  height: 2.5em;
  transition: all 0.3s ease-in-out;
  color: #000;
  font-size: 1.1rem;
  padding-left: 2em;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 0 auto;
  display: block;
  outline: none;
}

.email {
  margin-top: 2em;
}

input:focus {
  border-bottom: 1px solid green;
  width: 100%;
}

.message-email {
  margin-bottom: 6em;
}

.message-email,
.message-password {
  color: red;
  font-size: 0.55em;
  margin-left: 1em;
  margin-top: 0.2em;
}
.message-password {
  margin-bottom: 4em;
}

.text-align-center {
  text-align: center;
}

.input-container .icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  position: absolute;
  top: 0.3em;
  left: 0.3em;
}

.input-container {
  position: relative;
}

.icon {
  animation: updown 2s infinite;
}

@keyframes updown {
  33% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-2.5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.underline {
  text-decoration: underline overline;
}
